<!DOCTYPE html>
<html>
<head>
  <title>My Habit Tracker</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="static/javascript/graph.js"></script>
</head>
<body>
  <h1>My Habit Tracker<span id="title"></span></h1>
  <table id='pure_log'>
    <tr>
    {% for name in cl_names %}
      <th>{{ name }}</th>
    {% endfor %}
    </tr>

    {% for row in data %}
    <tr>
      {% for name in cl_names %}
      <td>{{ row[name] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <h1>Graph</h1>
  <table id='graph'>
  </table>
  <script>
    document.addEventListener("DOMContentLoaded", gen_graph( {{ calendar|safe }}, {{ math_data|safe }} ));
  </script>
</body>
</html>