<!DOCTYPE html>
<html>
<head>
  <title>My Habit Tracker</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="static/javascript/graph.js"></script>
</head>
<body>
  <h1>My Habit Tracker<span id="title"></span></h1>
  <table id='pure_log'>
    <tr>
  </table>
  <h1>Graph</h1>
  <table id='graph'>
  </table>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      gen_graph( {{ calendar|safe }}, {{ math_data|safe }} );
      gen_pure_log( {{ cl_names|safe }}, {{ data|safe }} );
    });
  </script>
</body>
</html>